<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="topbar">
            <p>Dojo Tweets</p>
            <p>Welcome, {{ name }}</p>
            <a href='/logout'>Log Out</a>
        </div>
        <form action='/tweets/{{tweets_id}}/update' method="POST">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <h3>Edit Tweet:</h3>
            <textarea input="text" type="text" id="commentbox" name="message"></textarea>
            <br>
            <input type="submit" value="Update">
        </form>
        <form action='/dashboard'>
            <input type="submit" value="Cancel">
        </form>
    </div>
</body>
</html>