<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="topbar">
            <p>Dojo Tweets</p>
            <a href='/dashboard'>Dashboard</a>
            <p>Welcome, {{ name }}</p>
            <a href='/logout'>Log Out</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for users in users %}
            <tbody>
                <tr>
                    <td>{{users.first_name}} {{users.last_name}}</td>
                    <td>{{users.email}}</td>
                    <td>
                        <form action='/tweets'>
                            <input type="submit" value="Follow">
                        </form>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</body>

</html>